body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('../assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}